{% extends 'base.html' %} {% block body %}
<style>
  H1 {
    position: relative;
    right: -790px;
    top: -400px;
    color: RED;
  }

  p {
    position: relative;
    right: -800px;
    top: -350px;
    font-family: monospace;
  }

  span {
    position: relative;
    right: -800px;
    top: -360px;
  }

  .ccc {
    position: relative;
    top: 80px;
    left: -100px;
  }
</style>
<div id="aa" class="container">
  <div class="ccc">
    <img
      src="\static\images\Developer activity-bro.png"
      width="500px"
      height="450px"
    />
    <h1>LET START TRACKING</h1>
    <!-- <p>
      MyBudget web application helps<br />
      you to maintain budget<br />
      and analyse the expense
    </p> -->
    <!-- <img height="13%" width="13%" style="position: relative; top: -690PX; left: -60PX;" src="../static/images/istockphoto-943300706-612x612.jpg"> -->
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <span class="btn btn-outline-dark">PROCEED</span>
</div>

{% endblock %}
